doctype html
html(lang=langName)
  head
    meta(charset="utf-8")
    title=lang.title
    link(rel="stylesheet", href="style.css")
  body(data-ng-app="todo")
    ul.list-group(data-ng-controller="TodoCtrl", data-ng-dblclick="create()")
      li.list-group-item(
        data-ng-repeat="item in items | orderBy:'id'"
        data-ng-init="editable = item.text == null"
        data-ng-click="$event.stopPropagation()"
      )
        div(data-ng-hide="editable")
          button.btn.btn-primary(data-ng-click="editable = true")
            span.glyphicon.glyphicon-edit
          | 
          span(data-ng-bind="item.text")
        .input-group(data-ng-show="editable")
          input.form-control(type="text", data-ng-model="item.text")
          span.input-group-btn
            button.btn.btn-success(data-ng-click="save(item); editable = false")
              span.glyphicon.glyphicon-ok
            button.btn.btn-danger(data-ng-click="remove(item)")
              span.glyphicon.glyphicon-remove
    for lib in libs
      script(src='libs/' + lib.substring(lib.lastIndexOf('/') + 1))
    script(src="app.js")
    if development
      script(src="//localhost:35729/livereload.js")